#chat-screen {
    background-color: #ABC1D1;
    height: 11000vh;
    z-index: -1;
}

#chat-screen .alt-header {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: #ABC1D1;
}

#chat-screen .status-bar {
    background-color: #ABC1D1;
}

@keyframes fadeIn {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.main-chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
    font-size: 14px;
    animation: fadeIn .8s linear;
}

.chat__timestamp {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 25px;
    color: white;
    background-color: #526f84;
}

.message-row {
    display: flex;
    width: 100%;
    margin-bottom: 25px;
}

.message-row--own {
    justify-content: flex-end;
}

.message-row--own .message__bubble {
    margin-right: 0px;
    margin-left: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 0px;
    background-color: var(--yellow);
}


.message-row--own .message__info {
    flex-direction: row-reverse;
}


.message-row img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.message-row__contents {
    display: flex;
    flex-direction: column;
}

.message__author {
    display: block;
    margin-bottom: 10px;
    color: #526f84;
    font-size: 16px;
}

.message__info {
    display: flex;
    align-items: flex-end;
}

@keyframes chatFadeInLeft {
    from {
        transform: translateX(-10px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes chatFadeInRight {
    from {
        transform: translateX(10px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.message__bubble {
    display: block;
    margin-right: 5px;
    padding: 8px 15px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    background-color: white;
    font-size: 30px;
    animation: chatFadeInLeft .8s linear;
}

.message-row--own .message__bubble {
    animation: chatFadeInRight .8s linear;
}

.message__timestamp {
    color: #526f84;
}

.chat-bar {
    /* Position */
    position: fixed;
    bottom: 0px;
    /* Box */
    width: 100%;
}

.chat-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #202b32;
    width: 100%;
    height: 50px;
    background-color: white;
}

.chat-form__icon {
    margin: 0px 10px;
}

.chat-form__extra-input {
    display: flex;
}