.find-icons {
    /* Display */
    display: flex;
    justify-content: space-between;
}

.find-icons__icon {
    /* Display */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find-icons__icon span {
    /* Display */
    display: block;
}

.find-icons__icon i {
    /* Box */
    margin-bottom: 5px;
    /* Text */
    font-size: 35px;
}

.recommended-friends {
    /* Box */
    margin: 25px 0px;
    padding: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);

    color: rgba(0, 0, 0, 0.4);
}

.recommended-friends span{
    /* Display */
    display: block;
    /* Box */
    margin: 110px 0px;
    /* Text */
    font-size: 18px;
    text-align: center;
}

.open-chat {
    display: flex;
    flex-direction: column;
}

.open-chat__header {
    /* Display */
    display: flex;
    justify-content: space-between;
    /* Box */
    margin-bottom: 40px;
    /* Text */
    color: rgba(0, 0, 0, 0.4);
}

.open-chat__header span {
    margin-right: 5px;
}

.open-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}

.open-post:not(:last-child) {
    border-bottom: var(--main-border);
}

.open-post__column {
    /* Display */
    display: flex;
    flex-direction: column;
}

.open-post__title {
    margin-bottom: 5px;
    font-size: 22px;
}

.open-post__hashtags {
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.4);
}

.open-post__members {
    display: flex;
    align-items: center;
}

.open-post__members img {
    width: 18px;
    height: 18px;
    border-radius: 25%;
    margin-right: 5px;
}

.open-post__count {
    opacity: 0.5;
}

.open-post__members .divider {
    width: 2px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0px 5px;
}

.open-post__status {
}

.open-post__status--active {
    color: #FF64C3
}

.open-post__status--sleep {
    color: #4096bb
}

.open-post__photo img {
    width: 120px;
    height: 120px;
    border-radius: 20px;
}

.open-post__photo {
    position: relative;
}

.open-post__heart-count {
    position: absolute;
    right: 5px;
    bottom: 10px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}

.open-post__heart-count i {
    margin-right: 5px;
}