.find-icons {
    /* Display */
    display: flex;
    justify-content: space-between;
}

.find-icons__icon {
    /* Display */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find-icons__icon span {
    /* Display */
    display: block;
}

.find-icons__icon i {
    /* Box */
    margin-bottom: 5px;
    /* Text */
    font-size: 35px;
}

.recommended-friends {
    /* Box */
    margin: 25px 0px;
    padding: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}

.recommended-friends span{
    /* Display */
    display: block;
    /* Box */
    margin: 110px 0px;
    /* Text */
    font-size: 18px;
    text-align: center;
}