.alt-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--horizontal-space);
    margin-bottom: 15px;
}

.alg-header__title {
    font-size: 32px;
}

.alt-header__column:first-child {
    margin-right: auto;
}

.alt-header__column:last-child {
    margin-left: auto;
}

